<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    <import resource="classpath:test01.xml"/>-->
<!--    <import resource="classpath:mybatis-spring-config.xml"/>-->

<!--使用spring配置myBatis-->
    <bean id = "dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/test"/>
        <property name="username" value="root"/>
        <property name="password" value="1911"/>
    </bean>

    <bean class ="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean class = "org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.itheima.mapper"/>
    </bean>

    <bean class = "com.itheima.processor.MyBeanFactoryPostProcessor"/>
    <bean class = "com.itheima.processor.MyBeanDefinitionRegistryFactoryPostProcessor"/>

    <bean id = "userDao" class = "com.itheima.dao.impl.UserDaoImpl"/>

    <bean id = "userService" class="com.itheima.service.impl.UserServiceImpl">
        <property name="managerMapper" ref = "managerMapper"/>
        <property name="stringList">
            <list>
                <value>aaa</value>
                <value>bbb</value>
                <value>ccc</value>
            </list>
        </property>
        <property name="userDaoList">
            <list>
                <bean id="userDao1" class="com.itheima.dao.impl.UserDaoImpl"/>
                <bean id="userDao2" class="com.itheima.dao.impl.UserDaoImpl"/>
                <ref bean="userDao"/>
            </list>
        </property>
        <property name="stringSet">
            <set>
                <value>xxx</value>
                <value>yyy</value>
            </set>
        </property>
        <property name="userDaoSet">
            <set>
                <bean class="com.itheima.dao.impl.UserDaoImpl"/>
                <bean class="com.itheima.dao.impl.UserDaoImpl"/>
                <ref bean="userDao"/>
            </set>
        </property>
        <property name="userDaoMap">
            <map>
                <entry key="11" value-ref="userDao"/>
                <entry key="22" value-ref="userDao"/>
            </map>
        </property>
        <property name="properties">
            <props>
                <prop key="1">ttt</prop>
                <prop key="2">ccc</prop>
            </props>
        </property>
    </bean>


    <bean id = "clazz" class="java.lang.Class" factory-method="forName">
        <constructor-arg name="className" value="com.mysql.jdbc.Driver"/>
    </bean>

    <bean id = "connection" class="java.sql.DriverManager" factory-method="getConnection" scope="prototype">
        <constructor-arg name="url" value="jdbc:mysql://localhost:3306/test"/>
        <constructor-arg name="user" value="root"/>
        <constructor-arg name="password" value="1911"/>
    </bean>


    <!--    <bean id = "simpleDateFormat" class = "java.text.SimpleDateFormat">-->
    <!--        <constructor-arg name="pattern" value="YYYY-MM-dd HH:mm:ss"/>-->
    <!--    </bean>-->

    <!--    <bean id = "date" factory-bean="simpleDateFormat" factory-method="parse">-->
    <!--        <constructor-arg name="source" value="2004-12-13 12:23:33"/>-->
    <!--    </bean>-->

    <!--    &lt;!&ndash;静态工厂方法&ndash;&gt;-->
    <!--    <bean id = "myFactoryBean1" class = "com.itheima.factory.MyBeanFactory1" factory-method="userDao"/>-->
    <!--    &lt;!&ndash;实例工厂方法&ndash;&gt;-->
    <!--    <bean id = "myFactoryBean2" class = "com.itheima.factory.MyBeanFactory2"/>-->
    <!--    <bean id="userDao2" factory-bean="myFactoryBean2" factory-method="userDao"/>-->

    <!--        <bean id="userService" name="userService1,userService2" class="com.itheima.service.impl.UserServiceImpl" scope = "singleton" lazy-init="false" init-method="init" destroy-method="destroy">-->
    <!--            <constructor-arg name="name" value = "liming"/>-->
    <!--            <constructor-arg name="password" value="123456"/>-->
    <!--            <property name="userDao" ref = "userDao"/>-->
    <!--        </bean>-->

    <!--        <bean id="userDao" class="com.itheima.dao.impl.UserDaoImpl"/>-->
</beans>